<div class="container">
  <h1 class="title">Customers Missing Email</h1>
  <%= link_to 'All Customers', customers_path, class: 'button' %>
  <%= link_to 'Alphabetized', customers_alphabetized_path, class: 'button' %>

  <div class="customer-grid">
    <%= render partial: 'customer', collection: @customers %>
  </div>
</div>